extends layout

block content
  h1= title
  p Welcome to #{title}

  #messages
    ul
      each message in messages.reverse()
        li
          p= message.text
          p= message.user
          p= message.added

