extends layout

block content
  h1= title
  p Welcome to #{title}

  #messages
    ul
      - for (let i = messages.length - 1; i >= 0; i--)
        li.message
          p#username= messages[i].user
          p#content= messages[i].text
          p#date= messages[i].added
